body{

}

.container{
    margin-bottom: 50px;
    background: #f6f6f6;
    padding: 20px;
}

.list{
    margin-bottom: 20px;
}

.list li{
    list-style: none;
    margin-bottom: 20px;
}

.list-item .header{
    width: 100%;
    background: #5bb1c3;
    padding:5px 10px;

}